@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #323232;
    font-family: "Montserrat", sans-serif;
}
li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: azure;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoImage{
    margin: 0px 0px 0px 125px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.navItems{
    list-style: none;
}
.navItems, li {
    display: inline-block;
    padding: 0px 20px;
}
.navItems, li, a {
    transition: all 0.3s ease 0x;
}
.navItems, li, a:hover {
    color: azure;
}
.topNav {
    margin-right: 125px;
    size: 0cap;
}

.top-page {
    margin: 0px auto;
    width: 800px;
    height: 250px;
    flex-wrap: wrap;
    background-color: #323232;
}
.main-image {
    float: right;
    height: 200px;
    width: 300px;
    flex-wrap: wrap;
}
.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-1 , .item-2 {
    margin: 10px;
}
.contact-button {
    width: 100px;
    height: 50px;
    color: rgb(165, 231, 115);
    border-radius: 15%;
    border: 10px solid rgb(157, 150, 150);
    background-color: rgb(157, 150, 150) ;
    margin: 10px;
}
.second-tier {
    width: 100%;
    justify-content: center;
    height: 250px;
    
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    
}
.card-1 , .card-2 , .card-3, .card-4 {
    width: 200px;
    height: 200px;
    border: 5px solid rgb(196, 239, 131);
    border-radius: 10%;
    margin: auto
}
.text-under-cards {
    display: flex;
    background-color: white;

    width: 100%;
}
.card-text-1 , .card-text-2, .card-text-3 , .card-text-4 {
    background-color: white;
    align-items: center;
    justify-content: space-around;

    width: 200px;
    height: 50px;

}
.cards-header {
    display: flex;
    justify-content: center;
    background-color: white;
}